
  </body>
  <script>
    var e;
    function get(url, success, el) {
      var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
      xhr.open('GET', url);
      xhr.onreadystatechange = function() {
        if (xhr.readyState>3 && xhr.status==200) success(xhr.responseText, el);
      };
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      xhr.send();
      return xhr;
    }

    function convert(el,img){
      get(`bw.cgi?file=${img}`, function(data,el){
        var src=`../thumbs/${img}?`+ new Date().getTime();
        el.src = src;
        /*
        console.log(src);
        console.log(el);
        console.log(data);
        */
      },el);

    }

  </script>
</html>
